<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="Tailspin.SpaceGame.Web.Models.Rsj" value="https://pkgs.dev.azure.com/jnagybrand/913afd83-1add-4e05-87e2-087e29208be0/_packaging/Tailspin.SpaceGame.Web.Models.Rsj/nuget/v3/index.json" />
  </packageSources>
</configuration>